<div style="background-color: black;">
<div class="definition">
    <h2 style="margin-top: 10px;padding-top: 0;">We are team of expert authors</h2>
    <p style="padding: 20px; font-size: large;margin: 0;">
      Our authors are a diverse group of people from all over the world, with a wide range of experiences and
      perspectives. They are united by their love of writing and their commitment to providing our readers with the best
      possible content.
    </p>
</div>
<div class="cardCont">
  <ng-container *ngFor="let author of authors">
    <div class="card" appHover>
      <img [src]="author.imageUrl" [alt]="author.authorName" style="width: 100%;border-radius:10px;">
      <h2 style="margin: 5px;">{{author.authorName}}</h2>
      <p style="margin: 5px;" class="title">{{author.role}}</p>
      <p style="margin: 5px;" >{{author.about}}</p>
      <p style="margin: 5px;">{{author.mail}}</p>
      <button class="button">Contact</button>
    </div>
  </ng-container>
</div>
</div>

