.definition{
    background-color: rgb(236, 146, 36);
    text-align: center;
}
.card{
    width: 250px;
    height: 340px;
    background-color: #F8F9F9;
    text-align: center;
    border-radius:10px;
    margin: 5px 5px; 
    padding: 10px 10px;
}
.cardCont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 210, 168);
  flex-wrap: wrap;
} 
.button{
  width: 100%;
  padding: 5px;
  background-color: rgb(243, 186, 186);
  color: black;
  border: none;
  border-radius: 5px;
}