<div *ngIf="isLoading; else content">
    <div class="loading-container">
        <div class="loading-spinner">
        </div>
        <p class="loading-text">Loading</p>
    </div>
  </div>
<ng-template #content>
<div class="container">
    <app-header></app-header>
    <div>
        <app-search (serchedWordforfiltering)="onSearchTextEntered($event)"> </app-search>
        <!-- <app-filter 
            [total]='getTotalCourses()' 
            [free]='getTotalFreeCourses()' 
            [premium]='getTotalPremiumCourses()'
            [electronics]='getElectronics()' 
            [rating4]='getTotalRating4Courses()'
            (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"></app-filter> -->
    </div>
    <ng-container *ngFor="let course of course">
        <!-- courseCountRadioButton === 'All' || courseCountRadioButton === course.type  -->
        <div class="course-container" *ngIf="searchText === '' || course.title.toLowerCase().includes(searchText) || course.title.toUpperCase().includes(searchText); ">
        <!-- <div class="course-container"
            *ngIf="courseCountRadioButton === 'All'
            || courseCountRadioButton === course.category.slice(course.category.indexOf(' ') + 1) 
            || courseCountRadioButton < course.rating.rate 
            || courseCountRadioButton === course.category"> -->
            <div class="course-card" appHover>
                <div>
                    <img [src]="course.image" style="width:220px; height:140px; border-radius: 5px;">
                </div>
                <div class="course-name">
                    <h4>{{ course.title.slice(0, 50) }}</h4>
                </div>
                <div class="course-description">
                    <p>{{course.description.slice(0, 80)}}...</p>
                </div>
                <p class="course-type" [ngStyle]="{color: course.category.includes('clothing') ? 'Green' : 'blue'}">
                    {{course.category}}</p>
                <div class="details">
                    <div class="course-price"><b>Price:</b> ₹{{course.price}}</div>
                    <div class="course-price"><b>Rating:</b> {{course.rating.rate}}</div>
                    <div class="course-price"><b>Available:</b> {{course.rating.count}}</div>
                </div>
                <div class="course-buttons">
                    <button class="btn btn-buy" [routerLink]="'Course/BuyNow'" [state]="course">Buy Now</button> 
                    <button class="btn btn-show" (click)="onShow(course.id)" >Show Deatils</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
</ng-template>