.course-container{
    display: inline-flex;
    border-radius: 5px;
}

.course-card{
    width:222px;
    height: 400px;
    margin: 5px 5px;
    background-color: #E7F6F2;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.course-name{
    text-align: center;
}
.course-description{
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 12px;
}

.details{
    display: flex;
    margin: 10px 0px;
}
.course-type{
    width:50%;
    font-weight: bold;
}
.course-buttons{
    display: flex;
}
.btn{
    width: 140px;
    height: 30px;
    border: none;
    margin: 5px 3px;
}
.btn-buy{
    background-color: #EC7063;
    border-radius: 5px;
    
}
.btn-show{
    background-color: #ABEBC6;
    border-radius: 5px;
}
