
<form [formGroup]="reactiveForm" [noValidate]="false" (ngSubmit)="onSubmit()">
    <div class="head" [ngClass]= "{signUp: isSign}">
        <p style="font-size: 230%;" *ngIf="authType==='SignUp'">Sign Up</p>
        <p style="font-size: 230%;" *ngIf="authType==='Login'">Log In</p>
    </div>
    <div class="row">
        <div class="column" *ngIf="authType==='SignUp'">
            <input type="text" id="fname" class="inputs" name="firstname" formControlName="username"
                placeholder="User name.." required>
        </div>
        <div class="column">
            <input type="email" id="email" name="email" class="inputs" formControlName="email" placeholder="Email..">
        </div>
        <div class="column">
            <input type="password" id="password" name="password" class="inputs" formControlName="password"
                placeholder="Password..">
        </div>
        <div class="column">
            <div class="but">
                <button type="submit" value="Submit">Submit</button>
            </div>
            <div class="but">
                <button type="submit" value="Submit">Reset</button>
            </div>
        </div>
        <div *ngIf="authType==='SignUp'">
            <span>Already have an account?</span>
            <a routerLink="/Login">login</a>
        </div>
        <div *ngIf="authType==='Login'">
            <span>Don't have an account?</span>
            <a routerLink="/SignUp" style="padding: 5px;text-decoration: none;">Signup</a>
        </div>
    </div>

</form>