<div class="container" *ngIf="destroy">
    <div class="loginForm" >
        <label for="name">Name : </label>
        <input type="text" name="name" id="name"><br><br>

        <label for="age">Age : </label>
        <input type="number" name="age" id="age"><br><br>

        <label for="pwd">New Password : </label>
        <input type="password" name="pwd" id="pwd"><br><br>

        <label for="confirmPwd">Confirm Password : </label>
        <input type="password" name="confirmPwd" id="confirmPwd"><br><br>

        <button type="submit" (click)="submit()">Submit</button>

    </div>
</div>

<!-- <div class="containerCourses" *ngIf="showCourses">
    <div class="main-container">
        <div class="nav-container">
            <ul>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
              <li routerLinkActive="active"><a routerLink="About">About</a></li>
                <li routerLinkActive="active"><a routerLink="Contact">Contact</a></li>
                <li routerLinkActive="active"><a routerLink="Courses">Courses</a></li>
            </ul>
    
        </div>
        <div class="component-container">
            <app-home></app-home>
            <app-about></app-about>
            <app-contact></app-contact>
            <app-courses></app-courses>
            <router-outlet></router-outlet>
        </div> 
    </div>

</div> -->
  
