input[type=text],input[type=email], select, textarea, email {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    margin-top: 5px;
    padding: 10px;
    background-color: #4afad4;
    width: 200px;
    float:left;
    border: none;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .labels{
    float: left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .del{
    margin-top: 5px;
    padding: 10px;
    background-color: #ccc;
    width: 200px;
    float:right;
    border: none;
  }
  .newClass{
    background-color: rgb(245, 151, 151);
    color: yellow;
    border: 2px solid rebeccapurple ;
  }
  .newsec{
    background-color: rgb(60, 255, 0);
  }