input[type=text],
input[type=email],
input[type=number],
select,
textarea,
email {
  width: 100%;
  padding: 12px;
  border: 1px solid #6d7070;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  margin-top: 5px;
  padding: 10px;
  background-color: #817e7e;
  width: 100%;
  float: left;
  border: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  display: flex;
  /* Use Flexbox for the container */
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
  align-content: center;
  /* Center the content vertically */
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: flex-start;
}

.column {  
  width: 50%;
  padding: 20px;
}

.labels {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.del {
  margin-top: 5px;
  padding: 10px;
  background-color: #f0edd0;
  width: 100%;
  float: right;
  border: none;
}

.blurClass {
  filter: blur(10px);
}

.popuphid {
  display: none;
}

.newClass {
  background-color: rgb(221, 216, 216);
  color: rgb(17, 17, 16);
  border: none
}

.close {
  font-size: xx-large;
  float: right;
  padding-right: 8px;
  text-decoration: none;
  color: #817e7e;
}

.message {
  color: rgb(213, 218, 218);
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  transform: translate(-50%, -50%);
}

.newsec {
  background-color: rgb(60, 255, 0);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 100px;
  background-color: rgb(99, 98, 98);
  color: rgb(69, 82, 82);
  z-index: 999;
}
.shopImage{
  height: 98%;
  position: absolute;
  right: 0px;
  width: 41%;
  border-radius: 2px;
}
input.ng-invalid, select.ng-invalid{
  border: 1px solid #f80606;
}
@media (max-width: 768px) {
  .shopImage{
    display: none;
  }
  .row {
    flex-direction: column;
    width: 100%;
  }

  .column {
    padding: 5px;
    width: 100%;
  }
}