.course-container{
    width: 580px;
    margin: 20px auto;
    padding: 10px 10px;
    background-color: #fab5b5;
}

.course-details{
    display: flex;
    margin: 20px 0px;
    text-align: center;
}

#editBut{
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
}
#editBut:hover {
    background-color: #45a049;
  }

#updateBut{
    background-color: #136eb8;
    color: rgb(247, 229, 229);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
#updateBut:hover {
background-color: #1169dd;
}