.course-container{
    width: 580px;
    margin: 20px auto;
    padding: 10px 10px;
    background-color: #fab5b5;
}

.course-details{
    display: flex;
    margin: 20px 0px;
    text-align: center;
    justify-content: center;
}
.courseDet{
    padding: 15px 15px;
}

#editBut{
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        width: 50%;
}
#editBut:hover {
    background-color: #45a049;
  }

#updateBut{
    background-color: #136eb8;
    color: rgb(247, 229, 229);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}
#updateBut:hover {
background-color: #1169dd;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}