<div class="filter-container">
    <span class="name">Filter: </span>

    <input type="radio" name="filter" value="All" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span class="name">All Products({{all}})</span>

    <input type="radio" name="filter" value="clothing" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span class="name">Clothings({{free}})</span>

    <input type="radio" name="filter" value="jewelery" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span class="name">Jewelery({{premium}})</span>

    <input type="radio" name="filter" value="electronics" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span class="name">Electronics({{electronics}})</span>

    <input type="radio" name="filter" value="ratingAbove4" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span class="name">Ratings 4({{rating4}})</span>
 
</div>
