ul {
  list-style-type: none;
  overflow: hidden;
  color: rgb(194, 193, 191);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(49, 45, 45);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: rgb(12, 11, 11);
  font-weight: 500;
}

.active,
li a:active {
  font-weight: 700;
  color: wheat;
}

.auth {
  float: right;
}

img {
  height: 30px;
  border-radius: 42%;
  margin: -22px;
}

@media (max-width: 768px) {
  li {
    float: none;
  }

  .auth {
    float: none;
  }

  .auth {
    display: none;
  }
}