
.container{
  display: flex;
align-items: center;
justify-content: center;
}

.loginForm{
  width: 400px;
height: 300px;
}

.containerCourses{
  width: 880px;
  margin:0px auto;
  text-align: center;
  background-color: #3c555c;
}
.nav-container{
  position: relative;
  width: 880px;
  background-color: beige;
}

.main-container{
width: 880px;
margin: 0px auto;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #bef70500;
}

li {
float: left;
}

li a {
display: block;
color: rgb(49, 45, 45);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #7e7676;
}
.active{
background-color: #6b6e6e;
}