
<div class="container">
    <div class="containerCourses">
        <div class="main-container">
            <div class="nav-container">
                <ul>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a>
                    </li>
                    <li routerLinkActive="active"><a routerLink="About">About</a></li>
                    <li routerLinkActive="active"><a routerLink="Contact">Contact</a></li>
                    <li routerLinkActive="active"><a routerLink="/Courses">Products</a></li>
                    <div class="auth" >
                        <li routerLinkActive="active"><a routerLink="/Courses" (click)="logIn()">Log In</a></li>
                        <li routerLinkActive="active"><a routerLink="/Courses" (click)="logOut()">Log Out</a></li>
                    </div>
                </ul>
            </div> 
            <div class="component-container">
                <!-- <app-home></app-home>
                <app-about></app-about>
                <app-contact></app-contact>
                <app-courses></app-courses> -->
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>


<!-- <div class="main-container">
    <div class="nav-container">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="" fragment="home">Home</a></li>
          <li routerLinkActive="active"><a routerLink="" fragment="about">About</a></li>
          <li routerLinkActive="active"><a routerLink="" fragment="contact">Contact</a></li>
          <li routerLinkActive="active"><a routerLink="" fragment="courses">Courses</a></li>
        </ul>
    </div>
    <div class="component-container">
        <app-home id="home"></app-home>
        <app-about id="about"></app-about>
        <app-contact id="contact"></app-contact>
        <app-courses id="courses"></app-courses>
     <router-outlet></router-outlet> 
    </div> 
</div> -->