
.container{
  display: grid;
align-items: center;
justify-content: center;
}

/* .containerCourses{
  width: 880px;
  margin:0px auto;
  text-align: center;
  background-color: #3c555c;
} */
.nav-container{
  width: 98.7vw;
  background-color: beige;
}

.main-container{
width: 98.7vw;
}
ul {  
list-style-type: none;
overflow: hidden;
background-color:rgb(235, 223, 157);
color: wheat  ;
}

li {
float: left;
}

li a {
display: block;
color: rgb(49, 45, 45);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #7e7676;
color: white;
}
.active, li a:active{
background-color: #4b5858;
color: wheat;
}