.search-container{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}
input{
    height: 30px;
    border-radius: 5px;
    border: none;
}
.search{
    color: rgb(226, 220, 183);
    font-size: large;
    font-weight: bolder;
    padding: 1%;
}
.textBox{
    height: 5%;
    flex-grow: 0.5;
}

@media (max-width: 768px) {
   .search-container{ 
    flex-direction: column ;
    justify-content: center;
   }
}