<div *ngIf="isLoading; else content">
    <div class="loading-container">
        <div class="loading-spinner">
        </div>
        <p class="loading-text">Loading</p>
    </div>
</div>
<ng-template #content>
    <div class="container">
        <!-- <div class="hero-section">
        <img src="assets/images/courses.jpg" width="940">
    </div> -->
        <div>
            <h2>Popular Products</h2>
            <hr style="border: #ccc 2px solid; margin: 5px 0px">

            <ng-container *ngFor="let course of course">
                <div class="course-container" *ngIf="course.rating.rate >= 4.5">
                    <div class="course-card" appHover>
                        <div>
                            <img mat-card-image [src]="course.image" class="image">
                        </div>
                        <div>
                            <h4 class="course-name">{{ course.title.slice(0, 50)}}</h4>
                        </div>
                        <div class="course-description">
                            <p>{{course.description.slice(0, 50) | myPipe}}...</p>
                        </div>
                        <div class="details">
                            <div class="course-type" [ngStyle]="{color: 'black'}">{{course.category | uppercase}}</div>
                            <div class="course-price"><b>Price:</b> {{course.price | currency:'INR'}}</div>
                        </div>
                        <div class="course-buttons btn">
                            <button class="btn-buy"  >Buy Now</button>
                            <button class="btn-show" routerLink="/Courses/Course/{{course.id}}">Show
                                Deatils</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>