.container{
    margin: 0px 0px;
    padding: 30px 10px;
    background-color: #dad6d6;
    border-radius: 0px;
    text-align: center;
    
}
.course-container{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.course-card{
    width:250px;
    height: 330px;
    margin: 5px 5px;
    background-color: #F8F9F9;
    border-radius: 5px;
    padding: 5px, 5px;
}
.course-name{
    text-align: center;
    height: 30px;
    font-weight: 500;
    color: black;
    font-size: 15px;padding: 5px;
}
.image{
    width:250px;
     height:140px;
     border-radius: 10px;
     border: none;
     padding: 5px;
}
.course-description{
    padding-top: 20px;
    font-size: 12px;
}

.details{
    display: flex;
    margin: 10px 0px;
    flex-direction: column;
}
.course-type,.course-price{
    font-weight: bold;
}
.course-buttons{
    display: flex;
    justify-content: space-evenly;
}
.btn{
    width: 100%;
    height: 40px;
}
.btn-buy{
    background-color: #EC7063;
    width: 115px;
    border-radius: 10px;
    border: none;
}
.btn-show{
    background-color: #ABEBC6;
    width: 115px;
    border-radius: 10px;
    border: none;
}
