.container{
    margin: 0px 0px;
    padding: 30px 10px;
    background-color: #fff;
    border-radius: 0px;
    text-align: center;
    background-image: linear-gradient(rgb(224, 218, 218), rgb(197, 159, 94), rgb(197, 167, 32));;
    
}
.course-container{
    display: inline-flex;
    margin: 20px 0px;
}
.course-card{
    width:220px;
    height: 340px;
    margin: 5px 5px;
    background-color: #64e2e2;
    border-radius: 5px;
}
.course-name{
    text-align: center;
}
.course-description{
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 12px;
}

.details{
    display: flex;
    margin: 10px 0px;
}
.course-type{
    width:50%;
    font-weight: bold;
}
.course-buttons{
    display: flex;
}
.btn{
    width: 155px;
    height: 30px;
    border-radius: 5px;
    margin: 10px 3px;
}
.btn-buy{
    background-color: #EC7063;
}
.btn-show{
    background-color: #ABEBC6;
}
